<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
    <title>Quiz - DevPro</title>
    <link rel="stylesheet" href="/static/base/assets/styles/app.css"/>
</head>
<body style="height: auto !important;">

<div class="game-page">
    <p class="subtitle-quiz">Quiz</p>
    <p class="subtitle-page">Dev Pro</p>

    <div class="container">

        <div id="loader"></div>

        <div id="game" class="justify-center flex-column animate-bottom hidden">
            {%if length_alunos > 0 %}
            <div class="game-result">
                <h2>Você fez {{pontuacao_do_aluno}} pontos e está no</h2>
                <h2 class="status-player">{{posicao_do_aluno}}º</h2>
                <h2>lugar!</h2>
            </div>

            <br/>


            <h3>Ranking</h3>

            {% for aluno in primeros_alunos_da_classificacao %}
            <div class="choice-container">
                <p class="choice-prefix">{{ forloop.counter }}º</p>
                <p class="choice-text"><b>{{ aluno.aluno__nome }}</b> - com {{aluno.pontos__sum}} pontos</p>
            </div>
            {% endfor %}
            {% else %}
            <div class="game-result">
                <h2>Ninguém respondeu nenhuma pergunta ainda!</h2>
                <br />
                <center>
                    <a href="/perguntas/1">
                        <h3>Vá para a primeira pergunta</h3>
                    </a>
                </center>
            </div>
            {% endif %}
        </div>

    </div>
</div>
</body>
<script src="/static/base/assets/js/script.js"></script>
</html>